* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/img/pexels-suzy-hazelwood-5010877.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

.container {
    background-color: rgba(108, 117, 125, 0.7);
}

.message {
    color: red;
}

@media screen and (max-width: 576px) {
    input[type=password] {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    input[type=password] {
        width: 50%;
    }
}

input[type=checkbox] {
    margin: 10px;
}

p > a {
    color: whitesmoke;
}

footer {
    padding: 10px;
    color: white;
}

footer > p {
    text-align: center;
}

.dropdown-menu {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
}

.pagination-nav {
    overflow: hidden;
    overflow-x: auto;
    max-width: 60%;
}