<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container-fluid mt-5">

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" th:if="${totalPages > 1}">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;&lt;</a>
          </li>
          <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
            <li class="page-item" th:classappend="${i == pageNumber ? 'active' : ''}">
              <a class="page-link" th:href="@{'/articlesPage/' + ${i}}" th:text="${i}">i</a>
            </li>
          </th:block>
          <li class="page-item">
            <a class="page-link" href="#">&gt;&gt;</a>
          </li>
        </ul>
      </nav>

      <form th:action="@{'/articlesPage/'+${pageNumber}}" th:object="${selectedArticles}" method="post">
        <div class="row">
          <div th:each="a : ${pageOfArticles}" class="col">
            <div class="card mt-5" style="width: 20rem;">
              <div>
                zapis do pliku ?
                <input type="checkbox" th:field="*{articleDtoList}" th:value='|{"author": "${a.author}", "title": "${a.title}", "description": "${a.description}"}|'/>
              </div>
              <img th:src="${a.urlToImage}" class="card-img-top" alt="image">
              <div class="card-body">
                <h5 class="card-title" th:text="${a.title}">...</h5>
                <p class="card-text" th:text="${a.description}">...</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" th:text="'Autor: ' + ${a.author}">...</li>
                  <li class="list-group-item" th:text="'Źródło: ' + ${a.source.name}">...</li>
                  <li class="list-group-item" th:text="${a.publishedAt}">...</li>
                </ul>
                <div class="card-body">
                  <a th:href="${a.url}" class="card-link">link do artykułu</a>
                </div>
              </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" name="saveArticle">Zapisz</button>
      </form>

    </div>
  
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>   
</body>
</html>