<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title}">Wiadomości</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="lang d-flex justify-content-end">
      <span th:text="#{lang.change}"></span>:
      <select id="locales">
          <option value=""></option>
          <option value="en" th:text="#{lang.eng}"></option>
          <option value="pl" th:text="#{lang.pl}"></option>
      </select>
    </div>
    <h2 class="display-2 text-light p-2" th:text="#{newsFrom}">Wiadomości z Polski</h2>
    <p class="text-light ms-3">
      <span th:text="#{sourceInfo}">Artykuły zebrane za pomocą</span>
      <a href="https://newsapi.org/"> NEWS API</a>
    </p>
    <div class="row g-2">
      <div class="col-1" style="display: flex; justify-content: center;">
        <div>
          <nav class="p-3">
            <ul class="pagination pagination-lg justify-content-center flex-column" th:if="${totalPages > 1}">
              <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
                <li class="page-item" th:classappend="${i == pageNumber ? 'active' : ''}">
                  <a class="page-link" th:href="@{'/articlesPage/' + ${i}}" th:text="${i}">i</a>
                </li>
              </th:block>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-11">
        <div>
          <form th:action="@{'/articlesPage/'+${pageNumber}}" th:object="${selectedArticles}" method="post">
            <div class="row justify-content-evenly">
              <div class="col-12 col-sm-6 col-lg-3 p-3" th:each="a : ${pageOfArticles}">
                <div class="card h-100">
                  <img th:src="${a.urlToImage}" class="card-img-top" alt=" brak zdjęcia">
                  <div class="card-body">
                    <h5 class="card-title" th:text="${a.title}">...</h5>
                    <p class="card-text" th:text="${a.description}">...</p>
                    <a th:href="${a.url}" target="_blank" class="card-link" th:text="#{link}">link do artykułu</a>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|#{author}: ${a.author}|">...</li>
                    <li class="list-group-item" th:text="|#{source}: ${a.source.name}|">...</li>
                    <li class="list-group-item" th:text="${a.publishedAt}">...</li>
                    <li class="list-group-item">
                      <span>
                        <span th:text="#{save}">do zapisu</span>
                        <input type="checkbox" th:field="*{selectedArticleDtoIds}" th:value="${a.id}"/>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info ms-3" name="saveArticle" th:text="#{button.save.selected}">Zapisz wybrane</button>
            <a th:href="@{/downloadFile/articlesData}" class="btn btn-success ms-3" th:text="#{download}">Pobierz plik</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/i18n.js"></script>
  <script type="text/javascript" src="/js/popper.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>