<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News Downloader</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="container mt-5 text-light">
            <div class="lang d-flex justify-content-end">
                <span th:text="#{lang.change}"></span>:
                <select id="locales">
                    <option value=""></option>
                    <option value="en" th:text="#{lang.eng}"></option>
                    <option value="pl" th:text="#{lang.pl}"></option>
                </select>
            </div>
            <h1 class="display-1 text-light">News Downloader</h1>
            <h3 class="text-light" th:text="#{newsFrom}">Wiadomości z Polski</h3>
            <form action="/" class="mt-5" method="post">
                <div class="mb-3">
                    <label for="inputApiKey" class="form-label" th:text="#{key}">Klucz:</label>
                    <input type="password" class="form-control form-control-lg mb-3" id="inputApiKey" name="inputApiKey" th:placeholder="#{input.placeholder}">
                    <div>
                        <p class="message" th:text="${message}">...</p>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{home.button.text}">Dalej</button>
                </div>
            </form>
            <p class="pb-3">
                <span th:text="#{getKeyInfo}">Klucz do aplikacji można uzyskać tutaj:</span>
                <a href="https://newsapi.org/">NEWS API</a>
            </p>
        </div>

        <script type="text/javascript" src="/js/i18n.js"></script>
        <script type="text/javascript" src="/js/popper.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    </body>
</html>